# Binance Profit Calculator 
`Written by @cryptoDey94 (telegram)` <br/>
Donations Appreciated :)<br/>
BTC Address: 1MLadoaCujyjXZUfbKR4greXiR84SaH4T8 <br/>

## Designed for use with [Gunbot](https://github.com/GuntharDeNiro/BTCT/wiki), but will work for any binance trading history. 


# Usage Instructions


## Download trading history from Binance

Log on to Binance and navigate to `Orders` -> `Trade History`. On the top right should be an option `Export complete trade history`. Click on that, chose a time period, and download the excel file. Make sure this .ipynb fle is in the same folder as `TradeHistory.xlsx`. (If filename is different than that, change the filename in the below cell). No personal information is contained in the trading history excel file.

In [1]:
filename = 'TradeHistory.xlsx'

## Run this file

#### Traditional Way
To run this file, I reccomend using Anaconda Navigator. To download, click the link below. Then open Anaconda Navigator, and click `Launch` under `Jupyter notebook`. Your browser will open with a screen to select which .ipynb file to open. Download and open this one, but before running, finish reading instructions. 
https://www.anaconda.com/download/

#### Easy way (Recommended)
Create an empty github repository for free, and just upload your `TradingHistory.xlsx` file and this .ipynb file to your github repo. Since github will only run this once, to update the results, simply change the file name and re upload it to github. Then github will detect it as a new file and re calculate. :)

## Notes on the program

The program calculates profits based on round-trip trades in the given time period. That is, for each coin pair, any sells that come before any buys and any buys that come after any sells will not be calculated. Thus, only full trades (trades that contain a buy and a sell) will be calcuated for profit. This is the most accurate way to determine how much profit you accumulated in the given time period.

The program calculates fees based on BNB. If you do not use BNB for fees, A. You should since its half the cost and B. you need to set the variable `use_fees` below to `False`. Note, this will calculate total revenue instead of total profit.

In [2]:
use_fees = True

In [3]:
import pandas as pd
import numpy as np
import copy
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

# initialize variables we will need
i = 0
totalProfit = 0.0
rawGroupDfs = {}
brokenDf = pd.DataFrame(columns=['Name', 'Total Bought', 'Total Sold', 'Profit', 'Fee'])
df = pd.read_excel(filename)
end = pd.to_datetime(df['Date'].iloc[0]).strftime('%I:%M %p on %B %d, %Y')
start = pd.to_datetime(df['Date'].iloc[-1]).strftime('%I:%M %p on %B %d, %Y')
print('\n')
print('Will calculate profit from ' + start + ' to ' + end)
print('\n')
print('Successfully Imported Excel File. Printing first 10 rows...')
df.head(10)

Will calculate profit from 03:53 PM on February 24, 2018 to 12:56 AM on March 02, 2018


Successfully Imported Excel File. Printing first 10 rows...

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
0,2018-03-02 00:56:15,XLMBTC,BUY,0.000030,657.00,0.020032,0.010559,BNB
1,2018-03-02 00:56:15,XLMBTC,BUY,0.000030,497.00,0.015154,0.007987,BNB
2,2018-03-02 00:36:43,LTCBTC,BUY,0.019083,1.35,0.025762,0.013636,BNB
3,2018-03-02 00:36:43,LTCBTC,BUY,0.019079,0.45,0.008586,0.004545,BNB
4,2018-03-01 23:43:43,BTGBTC,BUY,0.010334,4.00,0.041336,0.021525,BNB
5,2018-03-01 23:26:16,ADABTC,BUY,0.000027,351.00,0.009610,0.005040,BNB
6,2018-03-01 19:33:51,HSRBTC,SELL,0.000868,29.15,0.025302,0.013086,BNB
7,2018-03-01 19:01:29,WTCBTC,BUY,0.001724,11.45,0.019744,0.010178,BNB
8,2018-03-01 18:43:03,RDNBTC,BUY,0.000252,121.00,0.030550,0.015441,BNB
9,2018-03-01 18:37:13,QTUMBTC,BUY,0.002412,16.05,0.038713,0.019871,BNB

The below code sanitizes the data and calculates profits based on the complete trades rules we have set above in `O(n)` time.

In [4]:
xls = df.groupby(df['Market'])

#loop start - long cell bc all work being calculated in one go AKA O(n)
for name, group in xls:
    
    group = group.sort_values(by=['Date'], ascending=True)
    rawGroupDfs[name] = copy.deepcopy(group)
    
    # Create group dataframes for profit calculations
    group_df = pd.DataFrame(columns=['Total Bought', 'Total Sold', 'Profit', 'Fee'])

    # Remove sells from top
    group = group.reset_index()
    for index, row in group.iterrows():
        if row['Type'] == 'SELL':
            group.drop(index, inplace=True)
        else:
            break

    # Remove buys from bottom
    while group['Type'].count() > 0 and group.iloc[-1]['Type'] == 'BUY':
        group = group[:-1]


    # check for groups that only sold or bought, dont count them
    if len(group['Type'].unique()) == 1:
        continue
        
    
    # Calculate profits
    
    totalCostForCurrentGroup = 0.0
    totalRevenueForCurrentGroup = 0.0
    totalFeeForCurrentGroup = 0.0
    totalAmountForBuys = 0.0
    totalAmountForSells = 0.0
    totalProfitForCurrentGroup = 0.0
    for index, row in group.iterrows():
        
        if row['Type'] == 'BUY':
            totalAmountForBuys = totalAmountForBuys + float(row['Amount'])
            totalCostForCurrentGroup = totalCostForCurrentGroup + float(row['Total'])
            
        if row['Type'] == 'SELL':
            totalAmountForSells = totalAmountForSells + float(row['Amount'])
            totalRevenueForCurrentGroup = totalRevenueForCurrentGroup + float(row['Total'])
            
        totalFeeForCurrentGroup = totalFeeForCurrentGroup + float(row['Fee'])
        totalProfitForCurrentGroup = totalRevenueForCurrentGroup - totalCostForCurrentGroup

    # sometimes there is a slight difference in the amount bought / sold 
    # (maybe limit orders didnt get fully filled in time or owned coins from prev trades)
    # We will recalculate profits of those groups to be conservative to the lower amount
    
    totalProfitForCurrentGroup = totalRevenueForCurrentGroup - totalCostForCurrentGroup
    group_df = pd.DataFrame()
    
    if totalAmountForSells > totalAmountForBuys:
        group_df = group_df.set_value(i, 'Only counting', totalAmountForSells if totalAmountForBuys > totalAmountForSells else totalAmountForBuys)
        totalProfitForCurrentGroup = totalProfitForCurrentGroup * (totalAmountForBuys / totalAmountForSells)
        print('Fixing relative profit for group ' + name)
        print('\n')
        
    if totalAmountForSells < totalAmountForBuys:
        group_df = group_df.set_value(i, 'Only counting', totalAmountForSells if totalAmountForBuys > totalAmountForSells else totalAmountForBuys)        
        totalProfitForCurrentGroup = totalProfitForCurrentGroup * (totalAmountForSells / totalAmountForBuys)
        print('Fixing relative profit for group ' + name)
        print('\n')

    group_df = group_df.set_value(i, 'Total Bought', totalAmountForBuys)
    group_df = group_df.set_value(i, 'Total Sold', totalAmountForSells)
    group_df = group_df.set_value(i, 'Profit', totalProfitForCurrentGroup)
    group_df = group_df.set_value(i, 'Fee', totalFeeForCurrentGroup)
    group_df = group_df.set_value(i, 'Name', name)
    
    if totalProfitForCurrentGroup > 0 :
        resultDf = resultDf.append(group_df)
    else: 
        brokenDf = brokenDf.append(group_df)
        if totalProfitForCurrentGroup == 0.0:
            print('Group ' + name + ' had no round trip trades in this time period')
            print('\n')
        else:
            print('Problems calculating group ' + name + 
                  '. Total profit not added to final result is: ' + str(totalProfitForCurrentGroup))
            print('\n')

    i = i + 1
    
#loop over

Problems calculating group ADABTC. Total profit not added to final result is: -0.0006829199999999966


Problems calculating group BCDBTC. Total profit not added to final result is: -0.004281868999999994


Group BNBBTC had no round trip trades in this time period


Problems calculating group BTGBTC. Total profit not added to final result is: -0.002287919999999999


Group BTSBTC had no round trip trades in this time period


Problems calculating group CNDBTC. Total profit not added to final result is: -0.0012554500000000017


Group EOSBTC had no round trip trades in this time period


Problems calculating group ETCBTC. Total profit not added to final result is: -0.0020600600000000024


Problems calculating group ETHBTC. Total profit not added to final result is: -0.0008485330000000124


Problems calculating group HSRBTC. Total profit not added to final result is: -0.0011878700000000075


Group ICXBNB had no round trip trades in this time period


Group IOTABTC had no round trip trades in this time period


Problems calculating group LTCBTC. Total profit not added to final result is: -0.005210599999999996


Problems calculating group LUNBTC. Total profit not added to final result is: -0.005013431999999984


Group MCOBTC had no round trip trades in this time period


Problems calculating group NEOBTC. Total profit not added to final result is: -0.0011115399999999977


Group OMGBTC had no round trip trades in this time period


Problems calculating group POWRBTC. Total profit not added to final result is: -0.0017291399999999901


Problems calculating group QTUMBTC. Total profit not added to final result is: -0.0007756699999999991


Problems calculating group RDNBTC. Total profit not added to final result is: -0.004502310000000009


Problems calculating group REQBTC. Total profit not added to final result is: -0.0010823200000000012


Problems calculating group SNTBTC. Total profit not added to final result is: -0.0007019999999999978


Problems calculating group STRATBTC. Total profit not added to final result is: -0.000915199999999998


Group SUBBTC had no round trip trades in this time period


Problems calculating group TRXBTC. Total profit not added to final result is: -0.0009015399999999785


Problems calculating group VENBTC. Total profit not added to final result is: -0.00788229


Problems calculating group VIBEBTC. Total profit not added to final result is: -0.0026691899999999984


Group WAVESBTC had no round trip trades in this time period


Problems calculating group WTCBTC. Total profit not added to final result is: -0.0023687020000000003


Problems calculating group XLMBTC. Total profit not added to final result is: -0.0035140500000000047


Group XMRBTC had no round trip trades in this time period


Problems calculating group XRPBTC. Total profit not added to final result is: -0.0011818299999999948


Problems calculating group XVGBTC. Total profit not added to final result is: -0.0013974400000000067


Problems calculating group ZECBTC. Total profit not added to final result is: -0.0019172140000000004

In [8]:
from IPython.display import display

for raw in rawGroupDfs:
    display(rawGroupDfs[raw])

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
191,2018-02-24 15:53:28,ADABTC,BUY,0.000031,315.0,0.009689,0.005191,BNB
46,2018-02-28 13:20:31,ADABTC,SELL,0.000029,315.0,0.009223,0.004629,BNB
28,2018-03-01 01:36:22,ADABTC,BUY,0.000029,344.0,0.009845,0.004886,BNB
10,2018-03-01 14:34:14,ADABTC,SELL,0.000028,344.0,0.009629,0.004946,BNB
5,2018-03-01 23:26:16,ADABTC,BUY,0.000027,351.0,0.009610,0.005040,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
164,2018-02-26 04:51:37,BCDBTC,SELL,0.004182,9.246,0.038667,0.019864,BNB
147,2018-02-26 05:01:01,BCDBTC,BUY,0.004046,9.719,0.039323,0.020199,BNB
144,2018-02-26 05:06:19,BCDBTC,SELL,0.004050,9.719,0.039362,0.020272,BNB
137,2018-02-26 07:25:38,BCDBTC,BUY,0.003931,9.746,0.038312,0.019532,BNB
120,2018-02-26 20:10:33,BCDBTC,SELL,0.003632,9.746,0.035397,0.018418,BNB
99,2018-02-27 04:48:30,BCDBTC,BUY,0.003548,9.837,0.034902,0.018026,BNB
84,2018-02-27 19:21:03,BCDBTC,SELL,0.003405,9.837,0.033495,0.016612,BNB
41,2018-02-28 16:19:33,BCDBTC,BUY,0.003260,10.139,0.033053,0.016400,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
72,2018-02-28 05:07:27,BNBBTC,BUY,0.001014,5.0,0.005069,0.0025,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
189,2018-02-25 00:36:18,BTGBTC,SELL,0.011731,3.66,0.042935,0.022748,BNB
169,2018-02-25 14:27:21,BTGBTC,BUY,0.011445,3.75,0.042919,0.022395,BNB
106,2018-02-27 00:54:34,BTGBTC,SELL,0.011143,3.75,0.041786,0.021532,BNB
73,2018-02-28 04:21:51,BTGBTC,BUY,0.010907,3.93,0.042865,0.021304,BNB
42,2018-02-28 16:08:16,BTGBTC,SELL,0.010613,2.63,0.027912,0.013816,BNB
43,2018-02-28 16:08:16,BTGBTC,SELL,0.010613,1.30,0.013797,0.006834,BNB
4,2018-03-01 23:43:43,BTGBTC,BUY,0.010334,4.00,0.041336,0.021525,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
187,2018-02-25 00:36:28,BTSBTC,SELL,0.000021,468.0,0.010001,0.005297,BNB
188,2018-02-25 00:36:28,BTSBTC,SELL,0.000021,1184.0,0.025302,0.013400,BNB
65,2018-02-28 05:44:54,BTSBTC,BUY,0.000020,1230.0,0.025006,0.012404,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
186,2018-02-25 00:36:36,CNDBTC,SELL,0.000014,1923.0,0.027345,0.014481,BNB
53,2018-02-28 06:41:44,CNDBTC,BUY,0.000012,247.0,0.003046,0.001515,BNB
52,2018-02-28 06:41:47,CNDBTC,BUY,0.000012,1230.0,0.015166,0.007552,BNB
26,2018-03-01 02:25:13,CNDBTC,SELL,0.000011,1477.0,0.016956,0.008306,BNB
23,2018-03-01 06:34:24,CNDBTC,BUY,0.000011,1586.0,0.017747,0.008815,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
185,2018-02-25 00:36:45,EOSBTC,SELL,0.000812,18.0,0.014618,0.007752,BNB
165,2018-02-26 02:35:03,EOSBTC,BUY,0.000795,18.0,0.014311,0.007390,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
161,2018-02-26 04:52:27,ETCBTC,SELL,0.003579,1.02,0.003651,0.001872,BNB
162,2018-02-26 04:52:27,ETCBTC,SELL,0.003580,6.00,0.021480,0.011049,BNB
163,2018-02-26 04:52:27,ETCBTC,SELL,0.003580,3.08,0.011026,0.005669,BNB
127,2018-02-26 13:24:50,ETCBTC,BUY,0.003483,11.36,0.039567,0.020212,BNB
93,2018-02-27 09:32:02,ETCBTC,SELL,0.003380,11.36,0.038397,0.018805,BNB
90,2018-02-27 14:01:20,ETCBTC,BUY,0.003293,11.41,0.037573,0.018610,BNB
38,2018-02-28 17:17:59,ETCBTC,SELL,0.003215,1.45,0.004662,0.002323,BNB
39,2018-02-28 17:17:59,ETCBTC,SELL,0.003215,9.96,0.032021,0.015961,BNB
37,2018-02-28 18:03:07,ETCBTC,BUY,0.003150,11.55,0.036382,0.018251,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
158,2018-02-26 04:52:37,ETHBTC,SELL,0.088510,0.020,0.001770,0.000906,BNB
159,2018-02-26 04:52:37,ETHBTC,SELL,0.088509,0.032,0.002832,0.001451,BNB
160,2018-02-26 04:52:37,ETHBTC,SELL,0.088511,0.250,0.022128,0.011382,BNB
126,2018-02-26 13:26:59,ETHBTC,BUY,0.086109,0.408,0.035132,0.018019,BNB
104,2018-02-27 01:33:38,ETHBTC,SELL,0.084500,0.408,0.034476,0.017821,BNB
91,2018-02-27 11:00:23,ETHBTC,BUY,0.082752,0.410,0.033928,0.016536,BNB
75,2018-02-28 00:16:15,ETHBTC,SELL,0.082283,0.031,0.002551,0.001263,BNB
76,2018-02-28 00:16:15,ETHBTC,SELL,0.082284,0.229,0.018843,0.009368,BNB
77,2018-02-28 00:16:15,ETHBTC,SELL,0.082283,0.100,0.008228,0.004087,BNB
78,2018-02-28 00:16:15,ETHBTC,SELL,0.082283,0.020,0.001646,0.000815,BNB
79,2018-02-28 00:16:15,ETHBTC,SELL,0.082283,0.030,0.002468,0.001223,BNB
62,2018-02-28 06:18:56,ETHBTC,BUY,0.080492,0.416,0.033485,0.016683,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
157,2018-02-26 04:52:59,HSRBTC,SELL,0.000954,18.37,0.017525,0.009001,BNB
110,2018-02-26 21:44:35,HSRBTC,BUY,0.000932,28.63,0.026683,0.014004,BNB
81,2018-02-27 22:06:18,HSRBTC,SELL,0.000918,28.63,0.026282,0.013143,BNB
40,2018-02-28 17:01:22,HSRBTC,BUY,0.000895,29.15,0.026089,0.013045,BNB
6,2018-03-01 19:33:51,HSRBTC,SELL,0.000868,29.15,0.025302,0.013086,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
47,2018-02-28 13:02:53,ICXBNB,BUY,0.34801,5.93,2.063699,0.001028,BNB
48,2018-02-28 13:02:53,ICXBNB,BUY,0.34801,1.25,0.435013,0.000217,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
190,2018-02-25 00:35:55,IOTABTC,SELL,0.000182,158.0,0.028813,0.01527,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
184,2018-02-25 00:37:27,LTCBTC,SELL,0.021170,1.76,0.037259,0.019741,BNB
166,2018-02-26 02:19:57,LTCBTC,BUY,0.023595,1.58,0.037280,0.019367,BNB
109,2018-02-26 21:50:11,LTCBTC,SELL,0.021280,1.58,0.033622,0.017695,BNB
96,2018-02-27 08:26:08,LTCBTC,BUY,0.020823,0.86,0.017908,0.008732,BNB
97,2018-02-27 08:26:08,LTCBTC,BUY,0.020819,0.92,0.019153,0.009341,BNB
82,2018-02-27 20:00:43,LTCBTC,SELL,0.020214,1.78,0.035981,0.017747,BNB
60,2018-02-28 06:35:57,LTCBTC,BUY,0.019750,1.79,0.035352,0.017727,BNB
22,2018-03-01 06:46:45,LTCBTC,SELL,0.019486,1.79,0.034880,0.017336,BNB
2,2018-03-02 00:36:43,LTCBTC,BUY,0.019083,1.35,0.025762,0.013636,BNB
3,2018-03-02 00:36:43,LTCBTC,BUY,0.019079,0.45,0.008586,0.004545,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
156,2018-02-26 04:53:20,LUNBTC,SELL,0.002109,45.84,0.096681,0.049748,BNB
131,2018-02-26 11:49:18,LUNBTC,BUY,0.002059,64.44,0.132708,0.069302,BNB
108,2018-02-26 23:17:32,LUNBTC,SELL,0.001982,64.44,0.127694,0.067186,BNB
100,2018-02-27 03:50:07,LUNBTC,BUY,0.001890,39.50,0.074663,0.038427,BNB
101,2018-02-27 03:50:07,LUNBTC,BUY,0.001890,10.68,0.020188,0.010390,BNB
102,2018-02-27 03:50:07,LUNBTC,BUY,0.001891,6.75,0.012762,0.006567,BNB
103,2018-02-27 03:50:07,LUNBTC,BUY,0.001891,7.62,0.014406,0.007413,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
183,2018-02-25 00:37:45,MCOBTC,SELL,0.000709,32.42,0.022986,0.012174,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
130,2018-02-26 12:16:16,NEOBTC,SELL,0.013154,1.54,0.020257,0.010544,BNB
124,2018-02-26 14:20:42,NEOBTC,BUY,0.012833,1.74,0.022329,0.011484,BNB
12,2018-03-01 10:47:49,NEOBTC,SELL,0.012195,0.32,0.003902,0.001953,BNB
13,2018-03-01 10:47:49,NEOBTC,SELL,0.012194,1.42,0.017315,0.008673,BNB
11,2018-03-01 13:27:50,NEOBTC,BUY,0.011849,1.77,0.020973,0.010815,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
181,2018-02-25 00:38:00,OMGBTC,SELL,0.001694,9.00,0.015246,0.008073,BNB
182,2018-02-25 00:38:00,OMGBTC,SELL,0.001694,13.75,0.023293,0.012332,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
148,2018-02-26 04:59:26,POWRBTC,SELL,0.000061,398.0,0.024405,0.012558,BNB
136,2018-02-26 09:10:02,POWRBTC,BUY,0.000060,586.0,0.035183,0.018164,BNB
105,2018-02-27 01:18:33,POWRBTC,SELL,0.000059,586.0,0.034691,0.017906,BNB
98,2018-02-27 05:28:44,POWRBTC,BUY,0.000058,589.0,0.034133,0.017618,BNB
85,2018-02-27 19:01:28,POWRBTC,SELL,0.000056,589.0,0.032896,0.016284,BNB
59,2018-02-28 06:36:47,POWRBTC,BUY,0.000054,597.0,0.032429,0.016209,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
145,2018-02-26 05:03:27,QTUMBTC,SELL,0.002583,10.00,0.025830,0.013285,BNB
146,2018-02-26 05:03:27,QTUMBTC,SELL,0.002583,1.64,0.004236,0.002182,BNB
66,2018-02-28 05:35:49,QTUMBTC,BUY,0.002515,15.83,0.039812,0.019782,BNB
34,2018-02-28 19:12:12,QTUMBTC,SELL,0.002466,15.83,0.039037,0.019526,BNB
9,2018-03-01 18:37:13,QTUMBTC,BUY,0.002412,16.05,0.038713,0.019871,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
155,2018-02-26 04:54:23,RDNBTC,SELL,0.000312,97.0,0.030294,0.015560,BNB
133,2018-02-26 11:11:11,RDNBTC,BUY,0.000304,117.0,0.035545,0.018400,BNB
92,2018-02-27 10:23:26,RDNBTC,SELL,0.000291,117.0,0.034097,0.016518,BNB
74,2018-02-28 00:34:21,RDNBTC,BUY,0.000285,118.0,0.033664,0.016765,BNB
29,2018-03-01 00:49:21,RDNBTC,SELL,0.000259,118.0,0.030609,0.015025,BNB
8,2018-03-01 18:43:03,RDNBTC,BUY,0.000252,121.0,0.030550,0.015441,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
129,2018-02-26 12:29:44,REQBTC,BUY,0.000031,652.0,0.020003,0.010361,BNB
107,2018-02-26 23:47:37,REQBTC,SELL,0.000029,652.0,0.018921,0.009830,BNB
89,2018-02-27 15:12:52,REQBTC,BUY,0.000028,699.0,0.019789,0.010073,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
179,2018-02-25 00:38:37,SNTBTC,SELL,0.000017,28.0,0.000472,0.000244,BNB
180,2018-02-25 00:38:37,SNTBTC,SELL,0.000017,1180.0,0.019907,0.010542,BNB
58,2018-02-28 06:38:25,SNTBTC,BUY,0.000015,1080.0,0.016654,0.008353,BNB
27,2018-03-01 02:21:49,SNTBTC,SELL,0.000015,1080.0,0.015952,0.007825,BNB
16,2018-03-01 08:08:20,SNTBTC,BUY,0.000014,31.0,0.000446,0.000224,BNB
17,2018-03-01 08:08:20,SNTBTC,BUY,0.000014,1126.0,0.016203,0.008154,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
154,2018-02-26 04:54:41,STRATBTC,SELL,0.000743,36.06,0.026793,0.013762,BNB
132,2018-02-26 11:11:30,STRATBTC,BUY,0.000728,57.20,0.041642,0.021525,BNB
44,2018-02-28 15:54:12,STRATBTC,SELL,0.000712,57.20,0.040726,0.020186,BNB
24,2018-03-01 03:12:33,STRATBTC,BUY,0.000696,42.39,0.029503,0.014584,BNB
25,2018-03-01 03:12:33,STRATBTC,BUY,0.000695,15.30,0.010633,0.005264,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
178,2018-02-25 00:38:54,SUBBTC,SELL,0.000053,412.0,0.021828,0.011560,BNB
71,2018-02-28 05:07:30,SUBBTC,BUY,0.000052,48.0,0.002484,0.001225,BNB
70,2018-02-28 05:08:04,SUBBTC,BUY,0.000052,39.0,0.002018,0.000995,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
138,2018-02-26 05:35:48,TRXBTC,SELL,0.000004,706.0,0.002937,0.001512,BNB
139,2018-02-26 05:35:48,TRXBTC,SELL,0.000004,12020.0,0.050003,0.025720,BNB
140,2018-02-26 05:35:48,TRXBTC,SELL,0.000004,10750.0,0.044720,0.023004,BNB
141,2018-02-26 05:35:48,TRXBTC,SELL,0.000004,1000.0,0.004160,0.002140,BNB
128,2018-02-26 12:56:43,TRXBTC,BUY,0.000004,45077.0,0.183463,0.095286,BNB
112,2018-02-26 21:31:52,TRXBTC,SELL,0.000004,3000.0,0.012150,0.006363,BNB
113,2018-02-26 21:31:52,TRXBTC,SELL,0.000004,9270.0,0.037544,0.019675,BNB
114,2018-02-26 21:31:52,TRXBTC,SELL,0.000004,17433.0,0.070604,0.037002,BNB
115,2018-02-26 21:31:52,TRXBTC,SELL,0.000004,1383.0,0.005601,0.002935,BNB
116,2018-02-26 21:31:52,TRXBTC,SELL,0.000004,5491.0,0.022239,0.011656,BNB
117,2018-02-26 21:31:52,TRXBTC,SELL,0.000004,7500.0,0.030375,0.015922,BNB
118,2018-02-26 21:31:52,TRXBTC,SELL,0.000004,1000.0,0.004050,0.002117,BNB
94,2018-02-27 09:18:08,TRXBTC,BUY,0.000004,45103.0,0.178608,0.087270,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
177,2018-02-25 00:39:02,VENBTC,SELL,0.000574,58.0,0.033292,0.017631,BNB
172,2018-02-25 14:20:17,VENBTC,BUY,0.000615,54.0,0.033209,0.017333,BNB
170,2018-02-25 14:25:13,VENBTC,SELL,0.000613,4.0,0.002451,0.001273,BNB
171,2018-02-25 14:25:13,VENBTC,SELL,0.000613,50.0,0.030639,0.015988,BNB
167,2018-02-25 15:45:55,VENBTC,BUY,0.000598,9.0,0.005386,0.002815,BNB
168,2018-02-25 15:45:55,VENBTC,BUY,0.000599,46.0,0.027541,0.014389,BNB
119,2018-02-26 20:46:24,VENBTC,SELL,0.000548,55.0,0.030128,0.015710,BNB
111,2018-02-26 21:41:08,VENBTC,BUY,0.000534,61.0,0.032605,0.017099,BNB
83,2018-02-27 19:51:49,VENBTC,SELL,0.000490,61.0,0.029897,0.014742,BNB
49,2018-02-28 06:48:38,VENBTC,BUY,0.000475,49.0,0.023286,0.011592,BNB
50,2018-02-28 06:48:38,VENBTC,BUY,0.000475,11.0,0.005228,0.002602,BNB
51,2018-02-28 06:48:38,VENBTC,BUY,0.000475,3.0,0.001426,0.000710,BNB
31,2018-03-01 00:33:32,VENBTC,SELL,0.000439,63.0,0.027682,0.013607,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
173,2018-02-25 00:40:12,VIBEBTC,SELL,0.000043,914.0,0.039640,0.021007,BNB
135,2018-02-26 09:23:01,VIBEBTC,BUY,0.000043,127.0,0.005504,0.002844,BNB
134,2018-02-26 09:23:02,VIBEBTC,BUY,0.000043,334.0,0.014476,0.007479,BNB
61,2018-02-28 06:33:16,VIBEBTC,SELL,0.000038,461.0,0.017311,0.008664,BNB
30,2018-03-01 00:45:46,VIBEBTC,BUY,0.000037,499.0,0.018343,0.008986,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
176,2018-02-25 00:39:12,WAVESBTC,SELL,0.000674,19.34,0.013035,0.006908,BNB
63,2018-02-28 06:04:49,WAVESBTC,BUY,0.000597,48.23,0.028788,0.014299,BNB
64,2018-02-28 06:04:49,WAVESBTC,BUY,0.000597,10.40,0.006208,0.003083,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
175,2018-02-25 00:39:20,WTCBTC,SELL,0.002176,6.71,0.014600,0.007734,BNB
69,2018-02-28 05:08:13,WTCBTC,BUY,0.002011,9.94,0.019994,0.009872,BNB
18,2018-03-01 07:07:06,WTCBTC,SELL,0.001773,4.44,0.007873,0.003920,BNB
19,2018-03-01 07:07:06,WTCBTC,SELL,0.001773,1.68,0.002979,0.001486,BNB
20,2018-03-01 07:07:06,WTCBTC,SELL,0.001773,1.00,0.001773,0.000878,BNB
21,2018-03-01 07:07:06,WTCBTC,SELL,0.001773,2.82,0.005000,0.002494,BNB
7,2018-03-01 19:01:29,WTCBTC,BUY,0.001724,11.45,0.019744,0.010178,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
153,2018-02-26 04:55:32,XLMBTC,SELL,0.000036,873.0,0.031149,0.016009,BNB
121,2018-02-26 19:08:36,XLMBTC,BUY,0.000035,1134.0,0.039633,0.020670,BNB
86,2018-02-27 18:04:11,XLMBTC,SELL,0.000033,474.0,0.015822,0.007783,BNB
87,2018-02-27 18:04:11,XLMBTC,SELL,0.000033,660.0,0.022031,0.010833,BNB
67,2018-02-28 05:25:53,XLMBTC,BUY,0.000033,1139.0,0.037211,0.018408,BNB
14,2018-03-01 10:20:59,XLMBTC,SELL,0.000031,239.0,0.007442,0.003742,BNB
15,2018-03-01 10:20:59,XLMBTC,SELL,0.000031,900.0,0.028035,0.014102,BNB
0,2018-03-02 00:56:15,XLMBTC,BUY,0.000030,657.0,0.020032,0.010559,BNB
1,2018-03-02 00:56:15,XLMBTC,BUY,0.000030,497.0,0.015154,0.007987,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
152,2018-02-26 04:55:48,XMRBTC,BUY,0.028408,0.310,0.008806,0.004528,BNB
151,2018-02-26 04:55:54,XMRBTC,BUY,0.028408,0.315,0.008949,0.004600,BNB
149,2018-02-26 04:56:04,XMRBTC,BUY,0.028408,0.079,0.002244,0.001154,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
150,2018-02-26 04:55:55,XRPBTC,SELL,0.000093,286.0,0.026541,0.013655,BNB
122,2018-02-26 16:15:14,XRPBTC,BUY,0.000091,157.0,0.014243,0.007394,BNB
123,2018-02-26 16:15:14,XRPBTC,BUY,0.000091,231.0,0.020959,0.010880,BNB
88,2018-02-27 17:30:46,XRPBTC,SELL,0.000088,388.0,0.034020,0.017012,BNB
68,2018-02-28 05:16:05,XRPBTC,BUY,0.000086,389.0,0.033357,0.016521,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
174,2018-02-25 00:39:53,XVGBTC,SELL,0.000006,4878.0,0.028731,0.015225,BNB
57,2018-02-28 06:38:43,XVGBTC,BUY,0.000006,757.0,0.004171,0.002082,BNB
56,2018-02-28 06:38:44,XVGBTC,BUY,0.000006,1000.0,0.005510,0.002750,BNB
55,2018-02-28 06:39:02,XVGBTC,BUY,0.000006,1499.0,0.008259,0.004126,BNB
54,2018-02-28 06:39:47,XVGBTC,BUY,0.000006,3096.0,0.017059,0.008539,BNB
35,2018-02-28 18:50:52,XVGBTC,SELL,0.000005,4377.0,0.023154,0.011619,BNB
36,2018-02-28 18:50:52,XVGBTC,SELL,0.000005,1975.0,0.010448,0.005242,BNB
32,2018-03-01 00:23:12,XVGBTC,BUY,0.000005,1257.0,0.006486,0.003185,BNB
33,2018-03-01 00:23:12,XVGBTC,BUY,0.000005,5472.0,0.028290,0.013867,BNB

,Date,Market,Type,Price,Amount,Total,Fee,Fee Coin
142,2018-02-26 05:16:54,ZECBTC,SELL,0.040703,0.178,0.007245,0.003718,BNB
143,2018-02-26 05:16:54,ZECBTC,SELL,0.040703,0.456,0.018561,0.009532,BNB
125,2018-02-26 14:12:31,ZECBTC,BUY,0.039842,0.886,0.035300,0.018132,BNB
95,2018-02-27 08:50:39,ZECBTC,SELL,0.039001,0.886,0.034555,0.016783,BNB
80,2018-02-27 23:41:43,ZECBTC,BUY,0.038204,0.892,0.034078,0.017020,BNB
45,2018-02-28 15:15:20,ZECBTC,SELL,0.036890,0.892,0.032906,0.016161,BNB

In [ ]:
print('Successful calculation of below groups: If -, then that means we are counting all')
resultDf.fillna('-')

In [ ]:
profitDf = pd.DataFrame(columns=['Total Profit BTC', 'Total Fees BNB'])
profitDf['Total Profit BTC'] = [resultDf['Profit'].sum()]
profitDf['Total Fees BNB'] = [resultDf['Fee'].sum()]
profitDf.index = ['Total']

In [ ]:
print('These were not added to final result. If all 0, then no round trip trades for these groups exist in the given time period. If running many pairs, this is expected.')
brokenDf

In [ ]:
#USD Profits
usProfitDf = pd.DataFrame(index=[8000, 10000, 12000, 15000, 20000, 25000, 50000, 100000], 
                          columns=['USD Profit if cost of BTC is ...'])
usProfitDf['USD Profit if cost of BTC is ...'] = usProfitDf.index * resultDf['Profit'].sum()
usProfitDf.index.name = 'Price BTC'

In [ ]:
# Get profit in USD from real time BTC price from coinmarketcap

import requests

response = requests.get('https://api.coinmarketcap.com/v1/ticker/bitcoin/') 
response2 = requests.get('https://api.coinmarketcap.com/v1/ticker/binance-coin/') 
realTimeProfitDf = pd.DataFrame(index=['Total'])
if use_fees:
    realTimeProfitDf['USD Profit if cost of BTC is ...'] = float(response.json()[0]['price_usd']) * resultDf['Profit'].sum() - float(response2.json()[0]['price_usd']) * resultDf['Fee'].sum()
else:
    realTimeProfitDf['USD Profit if cost of BTC is ...'] = float(response.json()[0]['price_usd']) * resultDf['Profit'].sum()

In [ ]:
profitDf

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format
print(usProfitDf.to_string(index=True))

In [ ]:
resultDf['USD Profit'] = (float(response.json()[0]['price_usd']) * resultDf['Profit'])
resultDf = resultDf.sort_values(by='USD Profit', ascending=False)
ax = resultDf.plot(x='Name', y='USD Profit', kind='bar', figsize=(16,7), title='Proft in USD per pair')
plt.show()
finalDf = pd.DataFrame(resultDf[['Name','USD Profit']], index=None)

print(finalDf.to_string(index=False))

In [ ]:
import datetime as datetime
print('\n')
print ('Current Bitcoin Price as of ' + datetime.datetime.now().strftime('%I:%M %p on %B %d, %Y') + ' is: ' + "${:,.2f}".format(float(response.json()[0]['price_usd'])))
print('\n')

In [ ]:
feeCost = float(response2.json()[0]['price_usd']) * float(resultDf['Fee'].sum())
label = str('Profit from ' + str(start) + ' to ' + str(end) + ' in USD')
realTimeProfitDf.columns=[label]
print('\n')
print(str('Fee\'s from BNB ' + str(start) + ' to ' + str(end) + ' currently costs ' + "${:,.2f}".format(feeCost) + ' in USD.'))
print('\n')
realTimeProfitDf

In [ ]:
end = pd.to_datetime(df['Date'].iloc[0])
start = pd.to_datetime(df['Date'].iloc[-1])

diff = end - start

days, seconds = diff.days, diff.seconds
if days == 0:
    days = 1
hours = days * 24.0 + seconds // 3600.0
minutes = hours * 60.0

priceBTC = float(response.json()[0]['price_usd'])
avgProfMin = resultDf['Profit'].sum() * priceBTC / minutes
avgProfHour = resultDf['Profit'].sum() * priceBTC / hours
avgProfDay = resultDf['Profit'].sum() * (priceBTC / days)

btcProfit = resultDf['Profit'].sum()
print('Average profit per minute is ' "${:,.2f}".format(avgProfMin) + ' or ' + "{:,.15f}".format(btcProfit/minutes) + ' BTC.')
print('Average profit per hour is ' "${:,.2f}".format(avgProfHour) + ' or ' + "{:,.15f}".format(btcProfit/hours) + ' BTC.')
print('Average daily profit is ' "${:,.2f}".format(avgProfDay) + ' or ' + "{:,.15f}".format(btcProfit/days) + ' BTC.')

print('Not bad for a bot trading for you!')